.nav-btn-desktop {
  transition: all 150ms ease-in-out;
}

.nav-btn-desktop:hover {
  transform: scale(1.1);
}


.nav-btn-desktop:after {
  display:block;
  content: '';
  border-bottom: solid 1px #1E1E1E;  
  transition: all 150ms ease-in-out;
  transform: scaleX(0);  
}

.nav-btn-desktop:hover:after {
  transform: scaleX(1);
}